.container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr); /*allows the columns to fill the amount of space needed for the contents*/
    grid-template-rows: 40px 200px 40px;
}

.header { /*sets the header to span from the first column line to the third column line
  which has it take up the whole column space*/
  grid-column-start: 2; /*allows the menu to go all the way to the top*/
  grid-column-end: -1; /*will always end at the last column*/
 }

.menu {
  grid-row-start: 1; /* allows the menu to span the entire left side of screen*/
  grid-row-end: 3;
}


.content {
  grid-column-start: 2;
  grid-column-end: -1;
}

.footer {
  grid-column-start: 1;
  grid-column-end: -1;

}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

html, body {
  background-color: #ffeead;
  margin: 10px;
}

.container > div:nth-child(1n) {
  background-color: #96ceb4;	
}

.container > div:nth-child(3n) {
  background-color: #88d8b0;
}

.container > div:nth-child(2n) {
      background-color: #ff6f69;
}

.container > div:nth-child(4n) {
      background-color: #ffcc5c;
}


